<ion-header>
  <ion-navbar>
    <ion-title >Inicio</ion-title>

    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon name="contact"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-item *ngFor="let user of user">
    <ion-avatar item-start>
      <img src="assets/img/perfil.jpg">
    </ion-avatar>
    <h2>{{ user.id}}</h2>
    <p>{{ user.name | uppercase }} {{ user.lastname | uppercase }}</p>
    <button ion-button small outline (click)="showPrompt(user)">Editar</button>
  </ion-item>
  <ion-list *ngFor="let user of user">
    <ion-item>
      T. Usuario
      <ion-note item-end>
          {{ user.type_user }}
      </ion-note>
    </ion-item>
    <ion-item>
      Email
      <ion-note item-end>
          {{ user.email | lowercase }}
      </ion-note>
    </ion-item>
    <ion-item>
      Telefono
      <ion-note item-end>
        {{ user.number_phone }}
      </ion-note>
    </ion-item>
    <ion-item>
      Sede
      <ion-note item-end>
          {{ user.place | lowercase }}
      </ion-note>
    </ion-item>
    <ion-item>
      Codigo
      <ion-note item-end>
        {{ user.code }}
      </ion-note>
    </ion-item>
    <ion-item>
      Compañia
      <ion-note item-end>
        {{ user.company | lowercase }}
      </ion-note>
    </ion-item>
  </ion-list>
  <ion-fab left bottom>
    <button ion-fab color="dark">
      <ion-icon name="arrow-dropup"></ion-icon>
    </button>
    <ion-fab-list side="top">
      <button ion-fab (click)="logout()">
        <ion-icon ios="md-walk" md="md-walk"></ion-icon>
      </button>
    </ion-fab-list>
  </ion-fab>
  <ion-fab right bottom>
    <button ion-fab mini (click)="pageQR()">
      <ion-icon name="md-contract"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title  text-center>ACADSPACE v2.0</ion-title>
  </ion-toolbar>
</ion-footer>
